.root {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #DADCE0;
}

.menu {
  display: flex;
  gap: 20px;
  height: fit-content;
}
.arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: background-color .3s ease;

  &:hover {
    background-color: #F5F5F5;
  }
}

.button {
  border: 1px #9D2135 solid;
  &:hover {
    z-index: 10;

    box-shadow: #9D2135 0px 0px 0px 1px;
    border-radius: 2px !important;
    &:first-child {
      border-radius: 5px 2px 2px 5px !important;
    }

    &:last-child {
      border-radius: 2px  5px  5px 2px !important;
    }
  }
}